<div class="container">
  <div class="header">
    <h3>Giỏ hàng của {{fullname}}</h3>
  </div>
  <div class="content">
    <div class="left">
      <div class="table">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Số thứ tự </th>
            <td mat-cell *matCellDef="let element; index as i"> {{ i + 1}} </td>
          </ng-container>

          <ng-container matColumnDef="img">
            <th mat-header-cell *matHeaderCellDef> Ảnh </th>
            <td mat-cell *matCellDef="let element"> <img [src]="element.product.url" alt="" width="90px"></td>
          </ng-container>

          <ng-container matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef> Sản phẩm</th>
            <td mat-cell *matCellDef="let element"> {{element.product.name}} </td>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Số lượng </th>
            <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Đơn giá </th>
            <td mat-cell *matCellDef="let element"> {{element.product.price| currency:"VND":"symbol"}} </td>
          </ng-container>

          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef> Tổng cộng </th>
            <td mat-cell *matCellDef="let element"> {{element.quantity*element.product.price| currency:"VND":"symbol"}}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Tùy chọn</th>
            <td mat-cell *matCellDef="let row">
              <span class="delete-btn" (click)="onDelete(row)">
                <mat-icon>remove_shopping_cart</mat-icon>
              </span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <!-- <mat-paginator [pageSizeOptions]="[3]" showFirstLastButtons class="paginator" [length]="dataSource.length"
      [pageSize]="size" [pageIndex]="page"></mat-paginator> -->
      </div>
    </div>
    <div class="action-btn">
      <button class="return-btn"  routerLink="/detailProduct">
        <table>
          <tr>
            <td><mat-icon>navigate_before</mat-icon></td>
            <td>Trở về</td>
          </tr>
        </table>
      </button>

      <button class="pay-btn">
          <table>
              <tr>
                  <td (click)="navigateWithState()">Tiếp theo</td>
                  <td>
                      <mat-icon>navigate_next</mat-icon>
                  </td>
              </tr>
          </table>
      </button>
    </div>
  </div>
</div>