:host {
  margin: 0;
  color: #8c93af;
  background: #c8c8c8;
  font-family: "Courgette", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Mukta", sans-serif;
  font-family: "Signika", sans-serif;
}
.container h3 {
  margin: 0;
  color: #fff;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  text-transform: uppercase;
  border-bottom: 1px solid #f5e1de;
}
.wrap {
width: 250px;
background: rgba(40, 57, 101, 0.9);
}
.content {
  padding: 15px;
}

.content .group label,
.content .group input {
  width: 70%;
  color: #fff;
  display: block;
}
.content .group input,
.content .group select {
  border: none;
  padding: 5px 5px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
}
.form .group {
  padding: 5px 5px;
}
.form .group label {
  vertical-align: middle;
}
.form .group input,
select {
  line-height: 20px;
}
.form .group select {
  width: 270px;
}
.left {
  border-right: 1px solid #f5e1de;
}
.btn {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  border-top: 1px solid #f5e1de;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
.btn .left .right {
  outline: none;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}
.btn .right:hover {
  background: #ee6f57;
  color: black;
}
.btn .left:hover {
  background: #ee6f57;
  color: black;
}
