.header{
    text-transform: uppercase;
    text-align: center;
}
.content mat-expansion-panel{
    width: 20%;
    margin-left: 20px;
    border: 1px solid #14274e;
}
.content mat-expansion-panel-header{
    padding: 0 10px;
}
.content span:hover{
    color: #ee6f57;
    font-size: 18px;
    font-weight: 500;
}