<!-- <input type="checkbox" id="check"> -->
<header flexLayout="column" fxLayoutAlign="space-between center">
    <!-- <label for="check">
        <mat-icon id="sidebar-btn">list</mat-icon>
    </label> -->
    <div class="left-area">
        <span><img src="/assets/image/majorlogo.png" alt=""></span>
    </div>
    <div class="right-area">
        <a routerLink="/" class="logout-btn">Trang chủ</a>
        <a (click)="logout()" class="logout-btn">Đăng xuất</a>
    </div>
</header>
<div flexLayout="row" fxFlex>
    <div fxFlex="20" class="sidebar">
        <div class="center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQcbE6u36DvNqhRgUJtDR3MQDBcPkC3n83uXw&usqp=CAU"
                alt="" class="profile-img">
            <h4>{{role}} {{fullName}}</h4>
        </div>
        <a routerLink="employee">
            <mat-icon>perm_identity</mat-icon><span>Thông tin cá nhân</span>
        </a>
        <!-- <a routerLink="cartManagement">
            <mat-icon>shopping_cart</mat-icon><span>Quản lý giỏ hàng</span>
        </a>
        <a href="customerManagement">
            <mat-icon>folder_shared</mat-icon><span>Quản lý khách hàng</span>
        </a> -->
        <a href="customerClassManagement">
            <mat-icon>supervised_user_circle</mat-icon><span>Quản lý nhóm khách hàng</span>
        </a>
    </div>
    <div fxFlex="80" class="content">
        <router-outlet></router-outlet>
    </div>
</div>