<!-- <div class="container">
<form [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate> 
</form>
</div> 
	<mat-form-field class="example-full-width" appearance="fill">
		<mat-label>Username</mat-label>
	  <input matInput placeholder="Username" formControlName="username">
	  <mat-error>
		You must provide a<strong>username</strong>
	 </mat-error>
	</mat-form-field>
	<br>
	<mat-form-field class="example-full-width" appearance="fill">
		<mat-label>Password</mat-label>
	  <input matInput placeholder="Password" formControlName="password">
	</mat-form-field>
	<div class="button-wrapper">
		<button mat-flat-button color="primary">Submit</button>
	</div> -->




<div class="login-wrap">
	<div class="login-html">
			<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Log in</label>
			<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Register</label>
			<div class="login-form">
				<div class="sign-in-htm">
					<form [formGroup] ="loginForm">
					<div class="group">
						<label for="user" class="label">Username</label>
						<input id="user" type="text" class="input" matInput
                        formControlName="userName"
                        [ngModel]="user.userName"
                        placeholder="Enter your Username">
					</div>
					<div class="group">
						<label for="pass" class="label">Password</label>
						<input id="pass" type="password" class="input" data-type="password" matInput
                        formControlName="passWord"
                        [ngModel]="user.passWord"
                        placeholder="Enter your Password"> 
					</div>
					<div class="group">
						<input id="check" type="checkbox" class="check" checked>
					<label for="check"><span class="icon"></span> Keep me loged in</label>
					<label for="forgot"><span class="forgot"><a href="#forgot">Forgot Password?</a></span></label>
					</div>
					<div class="group">
						<input type="submit" class="button" value="Log In">
					</div>
					<div class="hr"></div>
					<div class="return-home">
					<a routerLink="/" class="icon-login"><mat-icon>home</mat-icon></a>
					</div>
				</form>
				</div>
			<div class="sign-up-htm">
				<form [formGroup]="registerForm">
				<div class="group">
					<label for="user" class="label">Username</label>
					<input id="user" type="text" class="input" matInput
					formControlName="userName"
					[ngModel]="user.userName"
					placeholder="Enter your Username">
				</div>
				<div class="group">
					<label for="fullName" class="label">Fullname</label>
					<input id="fullName" type="fullName" class="input" matInput
					formControlName="fullName"
					[ngModel]="user.fullName"
					placeholder="Enter your Fullname">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input" data-type="password" matInput
					formControlName="passWord"
					[ngModel]="user.passWord"
					placeholder="Enter your Password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,10}$">
				</div>
				<div class="group">
					<label for="pass" class="label">Repeat Password</label>
					<input id="pass" type="password" class="input" data-type="password" matInput
					formControlName="passWord"
					[ngModel]="user.passWord"
					placeholder="Enter your Password">
				</div>
				<div class="group">
					<label for="pass" class="label">Email Address</label>
					<input id="pass" type="text" class="input" matInput 
					placeholder="abc@example.com" [formControl]="user.email">
				</div>
				<div class="group">
					<label for="pass" class="label">Gender</label>
					<select matNativeControl required class="text">
						<option value="male">Male</option>
						<option value="female">Female</option>
					</select>
				</div>
				<div class="group">
					<label for="pass" class="label">Phone Number</label>
					<input id="pass" type="text" class="input" matInput
					formControlName="phoneNumber"
					[ngModel]="user.phoneNumber"
					placeholder="Enter your Phonenumber">
				</div>
				<div class="group">
					<label for="pass" class="label">Address</label>
					<input id="pass" type="text" class="input" matInput
					formControlName="address"
					[ngModel]="user.address"
					placeholder="Enter your address">
				</div>
				<div class="group">
					<input type="submit" class="button" value="Register">
				</div>	
			</form>
			</div>
		</div>
	</div>
</div>