<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
  
      <form class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block">Log in</button>
      </form>
    </mat-card>
  
  </div>

<!-- <form class="form-login">
    <div class="form-group">
      <label>Username</label>
      <input type="username" class="form-control" placeholder="Username">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" placeholder="Password">
    </div>
    <div>
        <p><mat-icon>check_box_outline_blank</mat-icon>Remember me</p>
        <p>Forgot password?</p>
    </div>
    <button type="submit" class="btn-submit">Submit</button>
    <div>
        <p>Not a member?</p>
        <p>Register</p>
        <p>Or log in with</p>
        <p>
            <mat-icon>facebook</mat-icon>
            <mat-icon>google</mat-icon>
            <mat-icon>email</mat-icon>
        </p>
    </div>
  </form>  -->