
<div class="login-wrap">
	<div class="login-html">
			<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Đăng nhập</label>
			<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Đăng ký</label>
			<div class="login-form">
				<div class="sign-in-htm">
					<form [formGroup] ="loginForm" (ngSubmit)="submitForm()">
					<div class="group">
						<label for="user" class="label">Email</label>
						<input id="user" type="text" class="input" matInput
                        formControlName="email"
                        placeholder="Nhập email">
					</div>
					<div class="group">
						<label for="pass" class="label">Mật khẩu</label>
						<input id="pass" type="password" class="input" data-type="password" matInput
                        formControlName="passWord"
                        placeholder="Nhập mật khẩu"> 
					</div>
					<div class="group">
						<!-- <input id="check" type="checkbox" class="check" checked>
					<label for="check"><span class="icon"></span>Giữ lần đăng nhập</label> -->
					<label for="forgot"><span class="forgot"><a href="#forgot">Quên mật khẩu?</a></span></label>
					</div>
					<div class="group">
						<input type="submit" class="button" value="Đăng nhập">
					</div>
					<div class="hr"></div>
					<div class="return-home">
					<a routerLink="/" class="icon-login"><mat-icon>home</mat-icon></a>
					</div>
				</form>
				</div>
			<div class="sign-up-htm">
				<form [formGroup]="registerForm" ngNativeValidate>
				<div class="group">
					<label for="user" class="label">Tên tài khoản</label>
					<input id="user" type="text" class="input" matInput
					formControlName="userName"
					placeholder="Nhập tên tài khoản" [required]="true">
				</div>
				
				<div class="group">
					<label for="fullName" class="label">Họ và tên</label>
					<input id="fullName" type="fullName" class="input" matInput
					formControlName="fullName"
					placeholder="Nhập họ tên" [required]="true">
				</div>
				<div class="group">
					<label for="pass" class="label">Mật khẩu</label>
					<input id="pass" type="password" class="input" data-type="password" matInput
					formControlName="passWord"
					placeholder="Nhập mật khẩu" [required]="true" >
					<mat-error *ngIf="registerForm.get('passWord').invalid">{{getErrorMessagePass()}}</mat-error>
				</div>
				<div class="group">
					<label for="pass" class="label">Nhập lại Mật khẩu</label>
					<input id="pass" type="password" class="input" data-type="password" matInput
					formControlName="repassWord"
					placeholder="Nhập lai mật khẩu" [required]="true" >
				</div>
				<div class="group">
					<label for="email" class="label">Địa chỉ email</label>
					<input id="email" type="text" class="input" matInput 
					placeholder="abc@example.com" formControlName="email" [required]="true">
					<mat-error *ngIf="registerForm.get('email').invalid">{{getErrorMessage()}}</mat-error>
				</div>
				<div class="group">
					<label for="gender" class="label">Giới tính</label>
					<select matNativeControl required class="text" formControlName="gender" [required]="true">
						<option value="male">Nam</option>
						<option value="female">Nữ</option>
					</select>
				</div>
				<div class="group">
					<label for="pass" class="label">Số điện thoại</label>
					<input id="pass" type="text" class="input" matInput
					formControlName="phoneNumber"
					placeholder="Nhập số điện thoại">
					<mat-error *ngIf="registerForm.get('phoneNumber').invalid">{{getErrorMessagePhone()}}</mat-error>
				</div>
				<div class="group">
					<label for="pass" class="label">Địa chỉ</label>
					<input id="pass" type="text" class="input" matInput
					formControlName="address"
					placeholder="Nhập điện chỉ" [required]="true">
				</div>
				<!-- <div class="group">
					<input id="check" type="checkbox" class="check" checked>
				<label for="check"><span class="icon"></span>Đồng ý với điều khoản của Chúng Tôi</label>
				</div> -->
				<div class="group">
					<input type="submit" class="button" name="register" value="Đăng ký" (click)="onSubmit()" >
				</div>	
			</form>
			</div>
		</div>
	</div>
</div>