body{
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    background: #14274e;
    width: 100%;
    height: 80px;
}
.left-area img{
    margin-left: 70px;
    width: 90px;
}
.logout-btn{
    text-decoration: none;
    margin-right: 30px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: color;
}
.logout-btn:hover{
    color: #ee6f57;
}
.sidebar{
    background: #14274e;
    font-size: 20px;
    margin-top: 80px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
}
.sidebar .profile-img{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    margin-top: 10px;
    margin-left: 80px;
}
.sidebar h3{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 80px;
}
.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #2b3d61;
    transition: 0.6s;
    transition-property: background;
    border-left: 3px solid transparent;
}
.sidebar a:hover{
    color: #ee6f57;
    background-color: #2b3d61;
    border-left-color: #ee6f57;
}
.sidebar mat-icon{
    padding-right: 10px;
}
.sidebar .center{
    border-bottom: 1px solid #2b3d61;
    border-top: 2px solid #2b3d61;
}
label #sidebar-btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 250px;
    margin: 5px 0;
    font-size: 40px;
    transition: 0.5s;
    transition-property: color;
}
label #sidebar-btn:hover{
    color: #ee6f57;
}
.content{
    margin-left: 250px;
    margin-top: 100px;
}
.center h5{
    text-align: center;
}