<!-- <input type="checkbox" id="check"> -->
<header fxLayoutAlign="space-between center">
    <div class="logo">
        <table><tr><td><a routerLink="/"><img src="/assets/image/majorlogo.png" alt="logo" width="90" ></a></td>
            <td class="name">QThao's <br> Flower Shop </td></tr>
        </table>
    </div>
    <!-- <label for="check">
        <mat-icon id="sidebar-btn">dehaze</mat-icon>
    </label> -->
    <div class="link" fxLayout="row" fxLayoutGap="20px">
        <a routerLink="/" mat-button>Trang chủ</a>
        <a routerLink="/footer-link">Liên hệ</a>
        <!-- <a routerLink="/register">Đăng ký</a> -->
        <a routerLink="/login">Đăng nhập & Đăng ký</a>
        <a (click)="logout()">Đăng xuất</a>
    </div>
</header>