<div class="container">
    <div class="wrap">
    <h3 mat-dialog-title>Chỉnh sửa thông tin sản phẩm</h3>
    <div class="content">
        <div mat-dialog-content class="form">
            <form [formGroup]="updateForm">
                <div class="group">
                    <label for="name" class="label">Tên sản phẩm: </label>
                    <input id="name" type="text" class="input" matInput formControlName="name"
                        placeholder="Nhập tên sản phẩm"  name="namePro" [required]="true">
                    <!-- <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="alert alert-danger">
                        <div *ngIf="userName.errors.required">
                            Name is required.
                        </div>
                        <div *ngIf="userName.errors.minlength">
                            Name must be at least 4 characters long.
                        </div>
                    </div> -->
                </div>
                    <div class="group">
                        <label for="price" class="label">Giá: </label>
                        <input id="price" type="text" class="input" matInput formControlName="price"
                            placeholder="Nhập giá sản phẩm" name="price" [required]="true">
                    </div>
                    <div class="group">
                        <label for="describe" class="label">Mô tả: </label>
                        <input id="describe" type="text" class="input"  matInput [required]="true"
                            formControlName="describe" placeholder="Nhập mô tả cho sản phẩm" name="describe">
                    </div>
                    <div class="group">
                        <label for="review" class="label">Đánh giá: </label>
                        <select matNativeControl required class="text" formControlName="review" name="review" [required]="true">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="group">
                        <label for="url" class="label">Ảnh: </label>
                        <input id="url" type="file" class="input" placeholder="Chọn ảnh cho sản phẩm" [required]="true"
                            formControlName="url" name="image">
                    </div>
                    <div class="group">
                        <label for="component" class="label">Loại sản phẩm: </label>
                        <select matNativeControl required class="text" formControlName="categoryid" name="idCate" [required]="true">
                            <option value="{{cate.id}}" *ngFor="let cate of category">{{ cate?.displayName }}</option>
                        </select>
                    </div>
            </form>
        </div>
    </div>
    <div mat-dialog-actions class="btn">
        <div class="left" (click)="onClose()">Hủy</div>
        <div class="right" (click)="onSubmit()" (click)="onClose()" >Cập nhật</div>
    </div>
</div>
</div>