<div class="container">
    <div class="header">
        <h4>thông tin cá nhân </h4>
    </div>
    <div class="content">

        <div class="table">
            <table>
                <tr class="title">
                    <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQcbE6u36DvNqhRgUJtDR3MQDBcPkC3n83uXw&usqp=CAU"
                            alt="" class="profile-img">
                            <h5>{{fullName}}</h5>
                    </td>
                </tr>
                <tr>
                    <td class="label">Họ và tên</td>
                    <td>{{fullName}}</td>
                </tr>
                <tr>
                    <td class="label">Email</td>
                    <td>{{email}}</td>
                </tr>
                <tr>
                    <td class="label">Giới tính</td>
                    <td>{{gender}}</td>
                </tr>
                <tr>
                    <td class="label">Số điện thoại</td>
                    <td>{{phoneNumber}}</td>
                </tr>
                <tr>
                    <td class="label">Địa chỉ</td>
                    <td>{{address}}</td>
                </tr>
                <tr>
                    <td class="label">Tùy chọn</td>
                    <td>
                        <span><button><mat-icon>launch</mat-icon>Chỉnh sửa thông tin</button></span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><span><button><mat-icon>lock</mat-icon>Đổi mật khẩu</button></span></td>
                </tr>
            </table>
        </div>
    </div>
</div>