<div class="content">
  <div class="left">
    <img [src]="product?.url" alt="">
  </div>
  <div class="right">
    <table class="table">
      <tr>
        <td>
          <span class="title">Tên sản phẩm: </span>
          <span class="infor">{{product?.name}}</span>
        </td>
      </tr>
      <div class="hr"></div>
      <tr>
        <td>
          <span class="title"> Giá bán:</span>
          <span class="infor">{{product?.price| currency:"VND":"symbol"}}</span>
        </td>
      </tr>
      <div class="hr"></div>
      <tr>
        <td>
          <label for="quantity" class="title">Số lượng (1-10):</label>
          <input type="number" id="quantity" [(ngModel)]="inputnumber" class="quantity" name="quantity" min="1" max="10"
            value="1">
        </td>
      </tr>
      <div class="hr"></div>
      <tr>
        <td>
          <span class="title">Mô tả:</span>
          <span class="infor">{{product?.describe}}</span>
        </td>
      </tr>
      <div class="hr"></div>
      <tr>
        <td class="note">* Hầu hết sản phẩm được làm thủ công nên sẽ có chút khác nhau so với ảnh trên website.</td>
      </tr>
      <div class="hr"></div>
      <tr>
        <td>
          <span class="btn">
            <button class="add-btn" (click)="checkLogin()" (click)="addToCart()">
              <mat-icon>add_shopping_cart</mat-icon>Thêm vào giỏ hàng
            </button>
          </span>
          <span class="btn">
            <button routerLink="/buyProduct" class="continue">Tiếp theo
            </button>
            <!-- <button class="pay-btn" routerLink="/buyProduct"><mat-icon>payments</mat-icon>Thanh toán</button> -->
          </span>
        </td>
      </tr>
      <div class="hr"></div>
      <tr>
        <td class="comment">
          <span class="title">Đánh giá:</span><br>
          <span class="infor">
            <form [formGroup]="commentsForm" ngNativeValidat>
            <input type="text" matInput formControlName="content" placeholder="Bình luận công khai">
          </form>
          </span>
          <span class="comment-btn">
            <button class="send" (click)="Comment()">Gửi</button>
            <button>Hủy</button>
          </span>
        </td>
      </tr>
    </table>

  </div>
</div>
<div class="others">
  <div class="title"><span>Sản Phẩm Liên Quan</span></div>
  <div class="hr"></div>
  <mat-grid-list cols="4" class="grid-list">
    <mat-grid-tile *ngFor="let product of bestSellerProducts">
      <div class="cols1">
        <div class="cols1-inner">
          <a routerLink="/detailProduct/{{ product.id }}">
            <img [src]="product.url" alt="">
          </a>
        </div>
        <div class="hr-inner"></div>
        <div class="detail-content">
          <p>{{ product.name }}</p>
          <p>Price: {{ product.price| currency:"VND":"symbol"}}</p>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="others">
  <div class="title"><span>Quà Tặng Kèm</span></div>
  <div class="hr"></div>
  <mat-grid-list cols="4" class="grid-list">
      <mat-grid-tile *ngFor="let product of otherGifts">
          <div class="cols1">
              <div class="cols1-inner">
                  <a routerLink="/detailProduct/{{product.id}}">
                      <img [src]="product.url" alt="">
                  </a>
              </div>
              <div class="hr-inner"></div>
              <div class="detail-content">
                  <p>{{ product.name }}</p>
                  <p>Price: {{ product.price | currency:"VND":"symbol" }}</p>
              </div>
          </div>
      </mat-grid-tile>
  </mat-grid-list>
</div>