
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.title{
  font-size: 18px;
  font-weight: 400;
  margin-right: 10px;
}
.right {
  margin: 0;
  margin: 20px;
  font-weight: 400;
  padding: 40px 40px;
  background-color: #bdced8;
}

.left img {
  margin-left: 20px;
  margin-right: 10px;
  width: 650px;
}

.right table {
  margin-top: 0;
  padding-top: 0;
  padding: 5px 5px;
}
.right table td {
  padding: 5px;
}
.right .hr {
  margin: 0;
  padding: 0;
  height: 1px;
  width: 90%;
  background-color: #9ba4b4;
}
.right table td button {
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
}
.quantity{
 margin-left: 10px;
 font-size: 16px;
 width: 90px;
}
.btn-add-product{
  padding: 5px 5px;
    color: black;
    border: 1px solid #f3beb6;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.btn-add-product:hover{
  background-color:  #ee6f57;
}
.btn-add-product a{
  text-decoration: none;
  color: black;
}
.feedback input textarea{
  border: 1px solid black;
  padding: 20px 20px;
}
.feedback .btn-submit{
  border-color:  #ee6f57;
  color: black;
  font-size: 20px;
}
.feedback .btn-submit:hover{
  background-color:  #ee6f57;
}



.product-item .product-item-content {
      border: 1px solid var(--surface-d);
      border-radius: 3px;
      margin: .3rem;
      text-align: center;
      padding: 2rem 0;
  }

.product-item .product-image {
      width: 50%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
