<footer flexLayout="column" class="footer" id="footer-link">
    <p class="text-center" id="center-name">QThao's Flower Shop - Cửa hàng hoa tươi</p>
<hr>
<div id="contact-info">
    <div class="container">
        <table class="store-name">
            <tr>
                <th>CỬA HÀNG</th>
            </tr>
            <hr class="hr-store-name">
            <tr>
                <td><img src="/assets/image/majorlogo.png" alt="logo" width="90"></td>
            </tr>
            <tr>
                <td>QThao's Flower Shop</td>
            </tr>
            <tr>
                <td>Chuyên kinh doanh các loại hoa tươi toàn quốc</td>
            </tr>
        </table>
        <table class="products">
            <tr>
                <th>CÁC SẢN PHẨM</th>
            </tr>
            <hr class="hr-store-name">
            <tr>
                <td>Bó hoa</td>
            </tr>
            <tr>
                <td>Giỏ hoa</td>
            </tr>
            <tr>
                <td>Kệ hoa</td>
            </tr>
            <tr>
                <td>Cây để bàn</td>
            </tr>
            <tr>
                <td>Phụ kiện đi kèm</td>
            </tr>
        </table>
        <table class="contact">
            <tr>
                <th>LIÊN HỆ</th>
            </tr>
            <hr class="hr-store-name">
            <tr>
                <td><mat-icon class="icon">location_on</mat-icon> quận Ninh Kiều, TP.Cần Thơ</td>
            </tr>
            <tr>
                <td><mat-icon class="icon">public</mat-icon>QThaoFlowerShop.com</td>
            </tr>
            <tr>
                <td><mat-icon class="icon">facebook</mat-icon>facebook.com/QThaoFlowerShop</td>
            </tr>
            <tr>
                <td><mat-icon class="icon"> call</mat-icon>01234xxxxxx</td>
            </tr>
            <tr>
                <td><mat-icon class="icon"> mail_outline</mat-icon>QThaoFlowerShop@gmail.com</td>
            </tr>
        </table>
    </div>
</div>
<hr>
<p id="copyright" class="copyright">Copyright 2020 &copy; - Powered by QThaoFlowerShop&reg;</p>
</footer>
