<footer flexLayout="column" class="footer" id="footer-link">
    <p class="text-center" id="center-name">QThao's Flower Shop - Fresh flower</p>
<hr>
<div id="contact-info">
    <div class="container">
        <table class="store-name">
            <tr>
                <th>SHOP NAME</th>
            </tr>
            <hr class="hr-store-name">
            <tr>
                <td><img src="/assets/image/majorlogo.png" alt="logo" width="90"></td>
            </tr>
            <tr>
                <td>QThao's Flower Shop</td>
            </tr>
            <tr>
                <td>Specializes in trading all kinds of fresh flowers</td>
            </tr>
        </table>
        <table class="products">
            <tr>
                <th>PRODUCTS</th>
            </tr>
            <hr class="hr-store-name">
            <tr>
                <td>Bouquet</td>
            </tr>
            <tr>
                <td>Flower basket</td>
            </tr>
            <tr>
                <td>Flower shelf</td>
            </tr>
            <tr>
                <td>Accessories</td>
            </tr>
            <tr>
                <td>Ornamental pots</td>
            </tr>
        </table>
        <table class="contact">
            <tr>
                <th>CONTACT</th>
            </tr>
            <hr class="hr-store-name">
            <tr>
                <td><mat-icon class="icon">location_on</mat-icon>Ninh Kieu District, Can Tho City</td>
            </tr>
            <tr>
                <td><mat-icon class="icon">public</mat-icon>QThaoFlowerShop.com</td>
            </tr>
            <tr>
                <td><mat-icon class="icon">facebook</mat-icon>facebook.com/QThaoFlowerShop</td>
            </tr>
            <tr>
                <td><mat-icon class="icon"> call</mat-icon>01234xxxxxx</td>
            </tr>
            <tr>
                <td><mat-icon class="icon"> mail_outline</mat-icon>QThaoFlowerShop@gmail.com</td>
            </tr>
        </table>
    </div>
</div>
<hr>
<p id="copyright" class="copyright">Copyright 2020 &copy; - Powered by QThaoFlowerShop&reg;</p>
</footer>
