<router-outlet>
    <app-carousel></app-carousel>
    <!-- search -->
    <!-- <div class="search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a hero by id or name or country">
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Id</th>
          <th>Hero Name</th>
          <th>Country</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let hero of heroes | filter:searchText">
          <td>{{hero.id}}</td>
          <td>{{hero.name}}</td>
          <td>{{hero.country}}</td>
        </tr>
        </tbody>
      </table> -->
    <!-- autocomplete -->
    <!-- <div class="ng-autocomplete">
        <ng-autocomplete 
          [data]="data"
          [searchKeyword]="keyword"
          (selected)='selectEvent($event)'
          (inputChanged)='onChangeSearch($event)'
          (inputFocused)='onFocused($event)'
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>
         <button><mat-icon>settings_voice</mat-icon></button>
        <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.displayName"></a>
        </ng-template>
         
        <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
        </ng-template>
        </div> -->
        <div class="search">
            <div class="grid1">
                <input nz-input placeholder="Nhập thông tin bạn cần tìm." aria-label="Number" matInput
                [formControl]="myControl" [(ngModel)]="searchText">
            </div>
            <div class="grid2">
                <span (click)="search()"><mat-icon>search</mat-icon></span>
            </div> 
            <div class="grid3">
                <span (click)="searchVoice()"><mat-icon class="search-voice" >mic_none</mat-icon></span>
            </div>
            <div class="grid4">
               <span (click)="cancelSearch()"><mat-icon>search_off</mat-icon></span> 
            </div>
        </div>
    <!-- content -->
    <!-- result search -->
    <div class="container1">
        <!-- <div class="title"><span>Bán chạy nhất</span></div> -->
        <!-- <div class="hr"></div> -->
        <mat-grid-list cols="4" class="grid-list" *ngIf="resultSearch?.length">
            <mat-grid-tile *ngFor="let product of resultSearch">
                <div class="cols1">
                    <div class="cols1-inner">
                        <a routerLink="/detailProduct/{{ product.id }}">
                            <img [src]="product.url" alt="">
                        </a>
                    </div>
                    <div class="hr-inner"></div>
                    <div class="detail-content">
                        <p>{{ product.name }}</p>
                        <p>Price: {{ product.price| currency:"VND":"symbol"}}</p>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <!-- bestseller -->
    <div class="container1">
        <div class="title"><span>Bán chạy nhất</span></div>
        <div class="hr"></div>
        <mat-grid-list cols="4" class="grid-list">
            <mat-grid-tile *ngFor="let product of bestSellerProducts">
                <div class="cols1">
                    <div class="cols1-inner">
                        <a routerLink="/detailProduct/{{ product.id }}">
                            <img [src]="product.url" alt="">
                        </a>
                    </div>
                    <div class="hr-inner"></div>
                    <div class="detail-content">
                        <p>{{ product.name }}</p>
                        <p>Price: {{ product.price| currency:"VND":"symbol"}}</p>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <!-- bouquet of love -->
    <div class="container2">
        <div class="title"><span>Bó hoa yêu thương</span></div>
        <div class="hr"></div>
        <mat-grid-list cols="4" class="grid-list">
            <mat-grid-tile *ngFor="let product of boquetLovelyProducts">
                <div class="cols1">
                    <div class="cols1-inner">
                        <a routerLink="/detailProduct/{{product.id}}">
                            <img [src]="product.url" alt="">
                        </a>
                    </div>
                    <div class="hr-inner"></div>
                    <div class="detail-content">
                        <p>{{ product.name }}</p>
                        <p>Price: {{ product.price | currency:"VND":"symbol" }} VND</p>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <!-- Unique Flower Box -->
    <div class="container2">
        <div class="title"><span>Hộp Hoa Độc Đáo</span></div>
        <div class="hr"></div>
        <mat-grid-list cols="4" class="grid-list">
            <mat-grid-tile *ngFor="let product of uniqueFlowerBoxProduct">
                <div class="cols1">
                    <div class="cols1-inner">
                        <a routerLink="/detailProduct/{{product.id}}">
                            <img [src]="product.url" alt="">
                        </a>
                    </div>
                    <div class="hr-inner"></div>
                    <div class="detail-content">
                        <p>{{ product.name }}</p>
                        <p>Price: {{ product.price | currency:"VND":"symbol" }} VND</p>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <!-- Elegant Flower Baskets -->
    <div class="container2">
        <div class="title"><span>Giỏ Hoa Thanh Lịch</span></div>
        <div class="hr"></div>
        <mat-grid-list cols="4" class="grid-list">
            <mat-grid-tile *ngFor="let product of elegantFlowerBaskets">
                <div class="cols1">
                    <div class="cols1-inner">
                        <a routerLink="/detailProduct/{{product.id}}">
                            <img [src]="product.url" alt="">
                        </a>
                    </div>
                    <div class="hr-inner"></div>
                    <div class="detail-content">
                        <p>{{ product.name }}</p>
                        <p>Price: {{ product.price | currency:"VND":"symbol" }} VND</p>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <!-- Favorite flower shelf -->
    <div class="container2">
        <div class="title"><span>Kệ Hoa Yêu Thích</span></div>
        <div class="hr"></div>
        <mat-grid-list cols="4" class="grid-list">
            <mat-grid-tile *ngFor="let product of favoriteFlowerShelf">
                <div class="cols1">
                    <div class="cols1-inner">
                        <a routerLink="/detailProduct/{{product.id}}">
                            <img [src]="product.url" alt="">
                        </a>
                    </div>
                    <div class="hr-inner"></div>
                    <div class="detail-content">
                        <p>{{ product.name }}</p>
                        <p>Price: {{ product.price | currency:"VND":"symbol" }} VND</p>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <!-- Ornamental pots -->
    <div class="container2">
        <div class="title"><span>Cây Để Bàn</span></div>
        <div class="hr"></div>
        <mat-grid-list cols="4" class="grid-list">
            <mat-grid-tile *ngFor="let product of ornamentalPots">
                <div class="cols1">
                    <div class="cols1-inner">
                        <a routerLink="/detailProduct/{{product.id}}">
                            <img [src]="product.url" alt="">
                        </a>
                    </div>
                    <div class="hr-inner"></div>
                    <div class="detail-content">
                        <p>{{ product.name }}</p>
                        <p>Price: {{ product.price | currency:"VND":"symbol" }} VND</p>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <!-- Other gifts -->
    <div class="container2">
        <div class="title"><span>Món Quà Khác</span></div>
        <div class="hr"></div>
        <mat-grid-list cols="4" class="grid-list">
            <mat-grid-tile *ngFor="let product of otherGifts">
                <div class="cols1">
                    <div class="cols1-inner">
                        <a routerLink="/detailProduct/{{product.id}}">
                            <img [src]="product.url" alt="">
                        </a>
                    </div>
                    <div class="hr-inner"></div>
                    <div class="detail-content">
                        <p>{{ product.name }}</p>
                        <p>Price: {{ product.price | currency:"VND":"symbol" }} VND</p>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</router-outlet>