.container h3{
    text-align: center;
    text-transform: uppercase;
}


/* .text-center h3{
text-align: center;
margin: 10px 20px;
line-height: 50px;
font-size: 22px;
text-transform: uppercase;
}
.mat-elevation-z6 table {
    width: 97%;
    margin-left: 20px;
    margin-right: 20px;
    border: 0.5px solid #202225;
}
.mat-elevation-z6 table .header{
    background: #dce0e7;
}
.mat-elevation-z6 table td .launch-btn{
    margin-right: 8px;
}
.mat-elevation-z6 table td .delete-btn{
    color: red;
}
.mat-elevation-z6 table tr:hover{
    background: #f1f6f9;
}
.mat-elevation-z6 table th{
    background: #14274e;
    color: #fff;
}
mat-paginator{
    margin-top: 15px;
}
.features{
margin-bottom: 15px;
}
.add button{
    margin-left: 25px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    border: 1px solid #f1c1b9;
    border-radius: 10px;
    background: #fff;
    transition: all 300ms ease-in-out;
}
.add button:hover{
    background: #ee6f57;
}
.search{
    float: right;
    margin-right: 50px;
    display: grid;
    line-height: 20px;
    grid-template-columns: 1fr 0.2fr;
    border: 1px solid #f5e1de;
    border-radius: 10px;
}
.search-left{
    border-right:1.5px solid #f5e1de;
}
.search input{
    border: none;
    padding-left: 10px;
} */