<div class="page-container">
    <div class="sidebar">
        <div class="logo">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQcbE6u36DvNqhRgUJtDR3MQDBcPkC3n83uXw&usqp=CAU" alt="">
          <h4>{{role}} {{fullName}}</h4>
        </div>
        <div class="hr"></div>
        <div class="expansion">
            <mat-accordion class="accordion">
                <div class="header" routerLink="/buyProduct"><span class="card" (click)="checkLogin()"><mat-icon class="icon">local_grocery_store</mat-icon>Giỏ hàng</span></div>
                <mat-expansion-panel (opened)="panelOpenState = true"
                (closed)="panelOpenState = false" class="panel">
                <mat-expansion-panel-header class="header">
                    <mat-panel-title class="title">
                        <span><mat-icon class="icon">palette</mat-icon>Chủ đề</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                    <div class="link" *ngFor="let category of themeCategories">
                        <a routerLink="subCategory/{{category.id}}">{{ category.displayName }}</a>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                (closed)="panelOpenState = false" class="panel">
                    <mat-expansion-panel-header class="header">
                        <mat-panel-title class="title">
                           <span><mat-icon class="icon">local_florist</mat-icon>Loại hoa</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="link" *ngFor="let category of flowerCategories">
                        <a routerLink="/subCategory/{{category.id}}">{{ category.displayName }}</a>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel (opened)="panelOpenState = true"
                (closed)="panelOpenState = false" class="panel">
                    <mat-expansion-panel-header class="header">
                        <mat-panel-title class="title">
                           <span><mat-icon class="icon">queue</mat-icon>Sản phẩm liên quan</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="link"><a routerLink="/card">Thiệp</a></div>
                    <div class="link"><a routerLink="/teddy_bear">Gấu bông</a></div>
                    <div class="link"><a routerLink="/candle">Nến</a></div>
                    <div class="link"><a routerLink="/chocolate">Chocolate</a></div>
                    <div class="link"><a routerLink="/flower_vase">Bình hoa</a></div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div> 
