
 <div class="slidershow middle">
  <div class="slides">
    <input type="radio" name="r" id="r1" checked>
    <input type="radio" name="r" id="r2">
    <input type="radio" name="r" id="r3">
    <input type="radio" name="r" id="r4">
    <input type="radio" name="r" id="r5">
    <input type="radio" name="r" id="r6">
    <input type="radio" name="r" id="r7">
    <div class="slide s1">
      <img src="/assets/image/banner/banner1.gif" alt="">
    </div>
    <!-- <div class="slide">
      <img src="/assets/image/banner/2.png" alt="">
    </div>
    <div class="slide">
      <img src="/assets/image/banner/3.png" alt="">
    </div>
    <div class="slide">
      <img src="/assets/image/banner/4.png" alt="">
    </div>
    <div class="slide">
      <img src="/assets/image/banner/5.png" alt="">
    </div>
    <div class="slide">
      <img src="/assets/image/banner/6.png" alt="">
    </div>
    <div class="slide">
      <img src="/assets/image/banner/7.png" alt="">
    </div> -->
  </div>
  <!-- <div class="navigation">
    <label for="r1" class="bar"></label>
    <label for="r2" class="bar"></label>
    <label for="r3" class="bar"></label>
    <label for="r4" class="bar"></label>
    <label for="r5" class="bar"></label>
    <label for="r6" class="bar"></label>
    <label for="r7" class="bar"></label>
  </div> -->
</div> 

